.progressive-image-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

.dark-mode .progressive-image-wrapper {
  background-color: #3a3a3a;
}

.image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progressive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: block;
}

.progressive-image.loaded {
  opacity: 1;
}
